:root{
    --main-color: black;
    --secondary-color: white;
    --color: #27AE60;
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

li{
list-style: none;
}

a{
color: var(--main-color);
text-decoration: none;
}

body{
overflow-x: hidden;
}

span{
color: var(--color);
}

html{
scroll-behavior: smooth;
}