:root{
    --main-color: black;
    --secondary-color: white;
    --color: #27AE60;
}


.sec-a{
display: grid;
grid-template-columns: auto auto auto;
gap: 50px;
padding-top: 158px;
}

.sec-a1{
padding-top: 35px;
}

.sections-a{
width: 100px;
height: 60px;
text-align: center;
align-items: center;
padding-top: 15px;
}


.sections-a:hover{
color: var(--color);
}